@import 'tailwindcss';

@font-face {
  font-family: "Inter";
  src: url("/resources/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/resources/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
    overflow: hidden;
    background-color: #F5F5F5;
    font-family: "Inter", system-ui, sans-serif;
    ::selection { background-color: #e6e6e6; }
}

h1 {
    font-size: 16px;
    font-weight: 500;
    color: black;
}

p {
    font-size: 16px;
    color: #525252;
}
